# App config
NODE_ENV=development
PORT = 3000

# ORM config
TYPEORM_HOST = car-rental-postgres
TYPEORM_PORT = 5433
TYPEORM_USERNAME = admin
TYPEORM_PASSWORD = password
TYPEORM_DATABASE = car-rental
TYPEORM_LOGGING = false
TYPEORM_MIGRATIONS_RUN = false