# App config
NODE_ENV=development
PORT = 3000

# DB config
DB_HOST = car-sharing-postgres
DB_PORT = 5432
DB_USERNAME = admin
DB_PASSWORD = password
DB_NAME = car-sharing
DB_LOGGING = false
DB_AUTORUN_MIGRATIONS = true